@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/mainpage.css" rel="stylesheet" />
</head>

<body>

    <div class="nav-bar">
        <nav class="nav">
            <a href="/" class="main-logo">Lead<span style="color: #3362DB">Sub</span></a>
            <div class="main-menu-items">
                <a href="/">How To Use</a>
                <a href="/">Pricing</a>
                <a href="/">About Us</a>
            </div>
            <div class="top-main-button">
                <a href="/" class="main-button-text">Sign Up</a>
            </div>
        </nav>
    </div>

    <div class="main-text">
        <div class="front-message">
            <div class="front-message-text">
                <h1>Attract targeted followers to your <span style="color: #F56040">Instagram</span></h1>
                <div>You give the user useful materials in exchange for a simple action - a <span style="color: #3362DB">subscription to your IG account</span></div>
                <div class="center-main-button">
                    <a href="/" class="center-main-button-text">Use</a>
                </div>
            </div>
            <div class="front-message-image">
                <img src="images/mainimage.jpg" alt="Main LeadSub Image"/>
            </div>
        </div>
    </div>

    <div class="curved-line">
        <img src="images/Curved-line.png" alt="Line"/>
    </div>

    <div class="how-work">
        <h2>How does <span style="color: #3362DB">LeadSub</span> work?</h2>
    </div>

    <div class="how_work_steps">
        <div class="step">
            <div class="text">
                <div class="step-number">Number</div>
                <div class="step-title">Title</div>
                <div></div>
                <div class="step-text">Text</div>
            </div>
            <div class="image">Image</div>
        </div>

        <div class="arrow">
            <img src="~/images/Arrow 1.png" alt="arrow 1"/>
        </div>

       <div class="step">
            <div class="image">Image</div>
            <div class="text">
                <div class="step-number"></div>
                <div class="step-title"></div>
                <div></div>
                <div class="step-text"></div>
            </div>
        </div>

        <div class="arrow">
            <img src="~/images/Arrow 2.png" alt="arrow 2"/>
        </div>

        <div class="step">
            <div class="text">
                <div class="step-number"></div>
                <div class="step-title"></div>
                <div></div>
                <div class="step-text"></div>
            </div>
            <div class="image">Image</div>
        </div>

        <div class="arrow">
            <img src="~/images/Arrow 3.png" alt="arrow 3"/>
        </div>

        <div class="step">
            <div class="image">Image</div>
            <div class="text">
                <div class="step-number"></div>
                <div class="step-title"></div>
                <div></div>
                <div class="step-text"></div>
            </div>
        </div>
    </div>
</body>