@{
    ViewData["Title"] = "Home Page";
    Layout = User.Identity.IsAuthenticated ? "/Views/Shared/AuthenticatedLayout.cshtml" : "/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/css/mainpage.css" rel="stylesheet" />
    <link href="~/css/account.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css//mysubpages.css" rel="stylesheet"/>
</head>


<!--<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/mainpage.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
</head> -->


@*    @if(User.Identity.IsAuthenticated)
    {
        <a class="main-menu-item mt-4 mb-4 me-auto ms-auto d-block" asp-action="AccountInfo" asp-controller="Account">Account settings</a>
    }*@
    <div class="main-text">
        <div class="front-message">
            <div class="front-message-text">
                <h1>Attract targeted followers to your <span style="color: #F56040">Instagram</span></h1>
                <div>You give the user useful materials in exchange for a simple action - a <span style="color: #3362DB">subscription to your IG account</span></div>
                <div class="center-main-button">
                    <a href="~/Account/Register" class="center-main-button-text">Use</a>
                </div>
            </div>
            <div class="front-message-image">
                <img src="images/mainimage.jpg" alt="Main LeadSub Image"/>
            </div>
        </div>
    </div>

    <div class="curved-line">
        <img src="images/Curved-line.png" alt="Line"/>
    </div>

    <div class="block-title">
        <h2>How does <span style="color: #3362DB">LeadSub</span> work?</h2>
    </div>

    <div class="how_work_steps">
        <div class="step">
            <div class="text">
                <div class="step-number">1.</div>
                <div class="step-title">Useful Material</div>
                <div></div>
                <div class="step-text">Create useful material: checklists, tutorials or video lessons and upload it to Google Drive or YouTube or any other platform</div>
            </div>
            <div class="step-image">
                <img src="/images/usefulmaterial_image.png" alt="Useful Material"/>
            </div>
        </div>

        <div class="arrow">
            <img src="~/images/Arrow 1.png" alt="arrow 1"/>
        </div>

       <div class="step">
            <div class="step-image">
                <img src="/images/subscriptionpage_image.png" alt="Subscription page"/></div>
            <div class="text">
                <div class="step-number">2.</div>
                <div class="step-title">Subscription page</div>
                <div></div>
                <div class="step-text">Create your subscription page on LeadSub, where you enter your Instagram account, a description of the useful material, and a link where it can be downloaded</div>
            </div>
        </div>

        <div class="arrow">
            <img src="~/images/Arrow 2.png" alt="arrow 2"/>
        </div>

        <div class="step">
            <div class="text">
                <div class="step-number">3.</div>
                <div class="step-title">Running ads</div>
                <div></div>
                <div class="step-text">Running targeted or other advertising with a call to download your useful material on your subscription page</div>
            </div>
            <div class="step-image">
                <img src="/images/runningads_image.png" alt="Running ads"/>
            </div>
        </div>

        <div class="arrow">
            <img src="~/images/Arrow 1.png" alt="arrow 3"/>
        </div>

        <div class="step">
            <div class="step-image">
                <img src="/images/gettingtargetedfollowers_image.png" alt="Getting targeted followers"/></div>
            <div class="text">
                <div class="step-number">4.</div>
                <div class="step-title">Getting targeted followers</div>
                <div></div>
                <div class="step-text">When the user gets to the subscription page - he is offered to subscribe to your Instagram. Then the service checks if the user is subscribed to your Instagram, and if he is, it gives him promised material.</div>
            </div>
        </div>
    </div>

    <div class="line">
    </div>

    <div class="block-title">
        <h2>Who can benefit from Lead<span style="color: #3362DB">Sub</span>?</h2>
    </div>

    <div class="who-benefit">
        <div class="who-benefit-visual">
            <div class="who-benefit-image">
                <img src="/images/who-benefit.png" alt="who benefit from LeadSub">
            </div>
            <div class="who-benefit-list">
                <div>&#8226;&nbsp; Bloggers<p></p>&#8226;&nbsp; Experts<p></p>&#8226;&nbsp; Businesses<p></p>&#8226;&nbsp; Online Education Projects<p></p>&#8226;&nbsp; Marketers</div>
            </div>
        </div>
        <div class="who-benefit-desc">
            <div class="who-benefit-text">
                You can gain an audience that will be <span style="color: #288A26">loyal</span> to you/your business as they will already get a <span style="color: #3362DB">free bonus</span> from you and know why they subscribed. 
            </div>
            <p></p>
            <div class="who-benefit-text">
                And you'll do it in the most efficient way that will <span style="color: #288A26">save your budget</span>
            </div>
        </div>
    </div>

    
    <div class="line">
    </div>

    <div class="block-title">
        <h2>What is the <span style="color: #3362DB">Price</span>?</h2>
    </div>

    <div class="pricing">
        <div class="price">
            $0.07
        </div>
        <div class="price-desc">
            You pay for a successful subscription to your account
        </div>
        <div class="price-bonuses">
            <div>
                + <span style="color: #288A26">Unlimited</span> number of subscription pages creation
            </div>
            <div>
                + <span style="color: #288A26">Unlimited</span> number of Instagram accounts*
            </div>
        </div>
        <div class="price-bonuses-desc">
            *you do NOT need your account password to work
        </div>
        <div class="price-button">
            <a href="~/Account/Register" class="center-main-button-text">Start Using LeadSub</a>
        </div>
    </div>

    <div class="curved-line">
        <img src="images/Curved-line.png" alt="Line"/>
    </div>

    <div class="block-title">
        <h2>Frequently Asked Questions</h2>
    </div>

    <div class="faq-block">
        <div class="question">Is it safe? I won't get blocked on IG?</div>
        <div class="answer">Absolutely safe. We don't violate any Instagram rules and will NOT require your account password to work.</div>

        <div class="question">What's free bonus to give to make people subscribe to me?</div>
        <div class="answer">In our Instagram account, we have a selection of ideas that you can use as a lead magnet.</div>

        <div class="question">How do I pay for the service?</div>
        <div class="answer">Once a week an invoice appears in a special section in your profile and you can pay it using paypal or bank transfer</div>

        <div class="question">How quickly does the service check whether the person subscribed to me or not?</div>
        <div class="answer">Usually it is about 1 second, but at high load the time can increase.</div>

        <div class="question">Is your service only working with Instagram?</div>
        <div class="answer">At the moment, the subscription checker only works on Instagram, but you can distribute the link itself to other social networks as well.</div>

        <div class="question">What happens to my subscription page if I don't pay the bill?</div>
        <div class="answer">The page will not be deleted, but all functionality will become restricted for use after 2 days of late payment. At any time you will be able to pay the bill and the page will become active again.</div>
    </div>

    <div class="footer-line">
    </div>


