@model LeadSub.Models.ViewModels.SubscriptionCheckerViewModel
@{
    Layout = "/Views/Shared/FormLayout.cshtml";
}
<head>
    <title>@Model.subPageDTO.Title</title>
     <link rel="stylesheet" href="~/css/subpage.css"/>
</head>
<div class="container-fluid col-xxl-6">

  <img src="@Model.subPageDTO.Avatar" class="avatar-img"/>
 <h5 class="mt-2 text-center">@Model.subPageDTO.InstagramLink</h5>
 <h3 class="mt-2 text-center">Instagram Name</h3>
 <h4 class="mt-5 text-center" style="font-size: 28px;">
     Follow my instagram and the download link will become available
 </h4>
 <button class="submit-btn ms-auto me-auto d-block" style="margin-bottom: 0px !important; width: 65% !important;">Follow</button>
 <form method="post" asp-controller="SubPage" asp-action="CkeckSubscription">
    <div style="display: none">
        <input style="visibility:hidden" asp-for="Username"/>
    </div>
        <div style="display: none">
          <input style="visibility:hidden" asp-for="subPageDTO.Id"/>
          <input style="visibility:hidden" asp-for="subPageDTO.InstagramLink"/>
          <input style="visibility:hidden" asp-for="subPageDTO.MaterialLink"/>
          <input style="visibility:hidden" asp-for="subPageDTO.Title"/>
          <input style="visibility:hidden" asp-for="subPageDTO.Avatar"/>
          <input style="visibility:hidden" asp-for="subPageDTO.Header"/>
          <input style="visibility:hidden" asp-for="subPageDTO.Description"/>
          <input style="visibility:hidden" asp-for="subPageDTO.GetButtonTitle"/>
          <input style="visibility:hidden" asp-for="subPageDTO.MainImage"/>
          <input style="visibility:hidden" asp-for="subPageDTO.SuccessDescription"/>
          <input style="visibility:hidden" asp-for="subPageDTO.SuccessButtonTitle"/>
          <input style="visibility:hidden" asp-for="subPageDTO.SubscriptionsCount"/>
          <input style="visibility:hidden" asp-for="subPageDTO.ViewsCount"/>
          <input style="visibility:hidden" asp-for="subPageDTO.CreationDate"/>
          <input style="visibility:hidden" asp-for="subPageDTO.UserId"/>
        </div>
    <input type="submit" class="ifollowed-btn ms-auto me-auto d-block"  value="I Followed &#10004;"/>
 </form>
 <h4 class="mt-5 text-center">
    &#33; After following, return to this page and click the <span class="text-success">"I followed"</span>
    button to Get Your Bonus
 </h4>
</div>
   
 

