body {
    background-color: #ffffff;
}

.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

    .background .shape {
        height: 200px;
        width: 200px;
        position: absolute;
        border-radius: 50%;
    }

.shape:first-child {
    background: linear-gradient( to right, #3362DB, #224AAF );
    right: -100px;
    top: -80px;
    bottom: 0px;
    backdrop-filter: blur(20px);
}


form {
    height: 500px;
    width: 400px;
    background-color: #353535;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 35%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 5px rgba(8,7,16,0.6);
    padding: 20px;
}

    form * {
        font-family: 'Poppins',sans-serif;
        color: #ffffff;
        letter-spacing: 0.5px;
        outline: none;
        border: none;
    }

    form h3 {
        font-size: 32px;
        font-weight: 500;
        line-height: 42px;
        text-align: center;
    }

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: #e5e5e5;
}


.button-login {
    margin-top: 50px;
    margin-bottom: 25px;
    width: 100%;
    background-color: #3362DB;
    color: #ffffff;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    backdrop-filter: blur(10px);
    background: linear-gradient( to right, #3362DB, #224AAF );
}

.social {
    margin-top: 30px;
    display: flex;
}

    .social div {
        background: red;
        width: 150px;
        border-radius: 3px;
        padding: 5px 10px 10px 5px;
        background-color: rgba(255,255,255,0.27);
        color: #eaf0fb;
        text-align: center;
    }

        .social div:hover {
            background-color: rgba(255,255,255,0.47);
        }

    .social .fb {
        margin-left: 25px;
    }

    .social i {
        margin-right: 4px;
    }

.link {
    margin-top: 200px;
    text-align: center !important;
    color: #3362DB;
}



.blue-button {
    min-width: 200px;
    height: 50px;
    max-height: 44px;
    background: #3362DB;
    border-radius: 14px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    color: #FFFFFF;
}


    .blue-button:hover,
    .blue-button:active {
        background: #FFFFFF;
        color: #3362DB !important;
        transition: 0.65s;
    }

.account-info {
    border-radius: 20px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    padding: 40px;
    margin: 40px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    background: #ffffff !important;
}

.contact-us-textarea {
    background-color: #F6F6F6;
    width: 100%;
    border: none;
    max-height: 200px;
    min-height: 200px;
    outline: none;
    padding: 20px;
    border-radius: 20px;
    font-family: 'Arial';
    font-style: normal;
    font-size: 19px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}