html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
}

.main-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center !important;
    margin-top: -30px;
    margin-top: 40px;
}

.footer-logo{
    margin: auto;
}

.footer-main-logo {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    margin: 0px;
    color: inherit !important;
    color: #000000;
}

.footer-links {
    text-align: left !important;
    margin: auto;
}

.footer-link {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    margin: auto;
    color: inherit !important;
    color: #000000;
}

.social-media-link {
    color: inherit !important;
    color: #000000;
}

.social-media {
    display: grid;
    color: inherit !important;
    color: #000000;
    grid-template-columns: 1fr 1fr;
    text-align: right;
}

.social-media-title {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    margin: 0px;
    color: inherit !important;
    color: #000000;
}

.social-media-image {
    max-width: 25px;
}

    .social-media-image img {
        width: 100%;
    }

.make-center {
    margin: auto;
}
