@model LeadSub.Models.ViewModels.ChangePasswordViewModel

<div class="container-fluid col-xl-4">
    <form method="post" asp-action="ChangePassword" asp-controller="Account" class="mt-5">
        @Html.HiddenFor(x => x.UserId)
        @Html.HiddenFor(x=>x.ReturnUrl)
        <input type="password" asp-for="OldPassword" class="form-control" placeholder="@nameof(Model.OldPassword)" />
        <span class="text-danger d-block" asp-validation-for="OldPassword"></span>
        <input type="password" asp-for="NewPassword" class="form-control mt-3" placeholder="@nameof(Model.NewPassword)" />
        <span class="text-danger d-block" asp-validation-for="NewPassword"></span>
        <input type="submit" class="btn btn-success d-block mx-auto w-50 mt-3" value="Change"/>
        <div asp-validation-summary="ModelOnly" class="mt-3"></div>
    </form>
 </div> 