@model LeadSub.Models.ViewModels.LoginViewModel
@{
    Layout = "/Views/Shared/FormLayout.cshtml";
}

<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/mainpage.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/Login.css" rel="stylesheet" />
</head>

<div class="container-fluid col-xl-5">
   
    <div class="background">
        <div class="shape"></div>
    </div>
    <form method="post" asp-controller="Account" asp-action="Login" class="mt-5">
        <h3>Login</h3>

        <label asp-validation-for="Email">Email</label>
        <input type="email" asp-for="Email" placeholder="-" />
        <label asp-validation-for="Password">Password</label>
        <input type="password" asp-for="Password" placeholder="-" />

        <input class="button-login"type="submit" value="Log In" />

        
        <a class="link" href="~/Account/Register">Register</a>

    </form>
    <div class="text-danger mt-3" asp-validation-summary="ModelOnly"></div>
</div>
