@model LeadSub.Models.ViewModels.RegisterViewModel

<div class="container-fluid col-xl-5" >
   
    <form method="post" action="~/Account/Register" class="mt-5">
        <input type="text" asp-for="UserName" class="form-control" placeholder="@nameof(Model.UserName)" />
        <span class="text-danger d-block" asp-validation-for="UserName"></span>
        <input type="email" asp-for="Email" class="form-control mt-2" placeholder="@nameof(Model.Email)" />
        <span class="text-danger d-block" asp-validation-for="Email"></span>
        <input type="password" asp-for="Password" class="form-control mt-2" placeholder="@nameof(Model.Password)" />
        <span class="text-danger d-block" asp-validation-for="Password"></span>
        <input type="password" asp-for="ConfirmPassword" class="form-control mt-2" placeholder="@nameof(Model.ConfirmPassword)" />
        <span class="text-danger d-block" asp-validation-for="ConfirmPassword"></span>
        <input type="submit" class="btn btn-success mt-2 d-block mx-auto mt-3" value="Зарегистрироваться" />
    </form>
    <div class="text-danger mt-3" asp-validation-summary="ModelOnly"></div>
</div>