@model LeadSub.Models.ViewModels.RegisterViewModel
@{
    Layout = "/Views/Shared/FormLayout.cshtml";
}

<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />
</head>

<body>
    <form method="post" action="~/Account/Register" class="mt-5">
        <div class="form-border">
            <h3>Register</h3>

            <label asp-validation-for="UserName">Name</label>
            <input type="text" asp-for="UserName" placeholder="Your Name" />
            <label asp-validation-for="Email">Email</label>
            <input type="email" asp-for="Email" placeholder="Your Email" />
            <label asp-validation-for="Password">Password</label>
            <input type="password" asp-for="Password" placeholder="Create password" />
            <label asp-validation-for="ConfirmPassword">Confirm Password</label>
            <input type="password" asp-for="ConfirmPassword" placeholder="Confirm password" />
            
            <input class="button-login"type="submit" value="Create new account" />
        </div>
        <div class="login-links"> 
            <a class="link" href="~/Account/Login">I already have an account</a>
            <div class="text-danger mt-3" asp-validation-summary="ModelOnly"></div>
        </div>
    </form>
</body>