@model LeadSub.Models.ViewModels.RestorePasswordViewModel
@{
    Layout = null;
}
<div class="container-fluid col-xl-4">
    <form method="post" asp-action="RestorePassword" asp-controller="Account" class="mt-5">
        @Html.HiddenFor(x => x.Email)

        <input type="password" asp-for="NewPassword" class="form-control mt-3" placeholder="New password" />
        <span class="text-danger d-block" asp-validation-for="NewPassword"></span>
        <input type="password" asp-for="ConfirmNewPassword" class="form-control mt-3" placeholder="Confirm password" />
        <span class="text-danger d-block" asp-validation-for="ConfirmNewPassword"></span>

        <input type="submit" class="btn btn-success d-block mx-auto w-50 mt-3" value="Change"/>
        <div asp-validation-summary="ModelOnly" class="mt-3"></div>
    </form>
 </div> 