@model LeadSub.Models.ViewModels.RestorePasswordViewModel
@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="~/css/mainpage.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/Login.css" rel="stylesheet" />
</head>
 <div class="background">
     <div class="shape"></div>
 </div>
<div class="container-fluid col-xxl-4">
    <form method="post" asp-action="RestorePassword" asp-controller="Account" class="mt-5">
        @Html.HiddenFor(x => x.Email)
         <label style="font-size:30px">Change your password:</label>
        <input style="
            margin-top: 20px !important; 
            font-size:20px;" type="password" asp-for="NewPassword" class="form-control mt-3" placeholder="New password" />
        <span class="text-danger d-block" asp-validation-for="NewPassword"></span>
        <input style="
            margin-top: 20px !important;
            font-size:20px;" type="password" asp-for="ConfirmNewPassword" class="form-control mt-3" placeholder="Confirm password" />

        <input style="margin-top: 35px" class="button-login" type="submit" value="Submit" />
        <div asp-validation-summary="None" class="arial-bold-text" style="color:red; text-align:center;display:block;margin-left:auto;margin-right:auto;"></div>
    </form>
    <span class="arial-bold-text" style="color:red; text-align:center;display:block;margin-left:auto;margin-right:auto;" asp-validation-for="ConfirmNewPassword"></span>
 </div> 